@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: BreeSerif;
  src: url(../fonts/BreeSerif-Regular.ttf);
}
@font-face {
  font-family: Interstate;
  src: url(../fonts/INTR__.TTF);
}
@font-face {
  font-family: Damion;
  src: url(../fonts/Damion-Regular.ttf);
}

.leaves {
	padding-left: 0 !important;
	padding-right: 0 !important;	
}

.attractions-header {
	margin: 0 auto;
	z-index: 1;	
	width: 500px;
}

.responsive-leaves{
	width: 60%;
	max-width: 60% !important;
	/*position: absolute !important;*/
	/*float: left !important;*/
}

p{
	line-height: 1.8rem !important;
}

.right-align{
	text-align: right;
}

#logo{
	width: 160px;
	height: 140px;
}

.bus{
	margin-top: 25%;
}

.bus1{
	margin-top: 5%;
	margin-bottom: 5%;
}

#iframe{
	width: calc(80% - 15%);
	height: 700px;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;  
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.button-pad{
	margin-top: 8%;
}

.directions{
	margin-top: 5% !important;
}

/* Image slider*/
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
}

#slider ul {
  position: relative;
  margin: 0 0px 0 0px;
  padding: 0;
  height: 100%;
  list-style: none;
  width: 900px;
  display: table;
}

#slider ul li {
  position: relative;
  display: table-cell;
  float: left;
  margin: 3px;
  padding: 3px;
  width: 170px;
  height: 170px;
  background: #ccc;
  text-align: center;
  vertical-align: middle;
}

#slider ul li img {
  height: 163px;
  width: 160px;
  object-fit: cover;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 3% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.9;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  text-decoration: none;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

@media (max-width: 414px){
	.right-align{
		text-align: left;
	}
	.responsive-leaves{
		width: 40%;
		max-width: 40% !important;
		/*position: absolute !important;*/
		/*float: left !important;*/
	}
	.bus{
		margin-top: 0;
	}
	.bus1{
		width: 40%;
	}
	p{
		font-size: 12px !important;
	}
	#iframe{
		width: 100%;
		height: 400px;
	}
	#slider ul{
		width: 100%;
	}
	#slider ul li{
		width: 48%;
	}
}