@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: BreeSerif;
  src: url(../fonts/BreeSerif-Regular.TTF);
}
@font-face {
  font-family: Interstate;
  src: url(../fonts/INTR__.TTF);
}
@font-face {
  font-family: Damion;
  src: url(../fonts/Damion-Regular.TTF);
}

.verticalLine {
    border-left:  solid #2ba6a2; 
    height:auto;
    } 
.leaves {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.image-size{
  padding-top: 50px;
  margin-left: 60px;
  width:90%;
}

.rates{
  padding-top: 25px; }
}
.responsive-leaves{
  width: 60%;
  max-width: 60% !important;
  /*position: absolute !important;*/
  /*float: left !important;*/
}

.attractions-header {
  margin: 0 auto;
  z-index: 1; 
  width: 500px;
}

#logo{
  width: 160px;
  height: 140px;
}

.responsive-leaves{
  width: 60%;
  max-width: 60% !important;
  /*position: absolute !important;*/
  /*float: left !important;*/
}

p{
  line-height: 1.8rem !important;
}

p.header {
  font-family: "BreeSerif";
  font-size: 26px;
  color: #2ba6a2;
  padding-top: 20px;
}
p.rates {
  font-family: "BreeSerif";
  font-size: 22px;
  color: #2ba6a2;
}
p.tiny {
  font-family: "BreeSerif";
  font-size: 14px;
  color: #2ba6a2;
  line-height: 0.8rem !important;
  }
p.price {
  font-family: "BreeSerif";
  font-size: 30px;
}
.bus{
  margin-top: 25%;
}

.align-left {
  margin-left: 160px !important;
}

p.cursive {
  font-family: "Damion";
  font-size: 48px;
  line-height: 1.2em !important;
}

.column {
  /*padding-left: 0px !important;
  padding-right: 0px !important;*/
}
@media (max-width: 414px){
.column {
  padding-left: 0px !important;
}
  .right-align{
    text-align: left;
  }
.responsive-leaves{
    width: 40%;
    max-width: 40% !important;
    /*position: absolute !important;*/
    /*float: left !important;*/
  }
.bus{
    margin-top: 0;
  }
p{
    font-size: 12px !important;
}
p.header {
  font-size: 18px !important;
  margin-top:  -25px;
}
p.rates {
  font-size: 14px !important;
  padding-top: 0px;
  margin-bottom: -20px;
}
p.price {
  font-size: 22px !important;
  margin-top: -40px;
}
p.cursive {
  font-size: 18px !important;
}
p.tiny {
  font-size: 14px;
  line-height: 2.2rem !important;
  }
.image-size{
  margin-left: 0px;
  width:100%;
}
.bus1{
    width: 40%;
  }
.verticalLine {
    border-left:  hidden; 
    height:auto;
    } 
.row .row {
  margin: 0px !important;
}

@media (min-width: 1921px){
  #content {
 padding-bottom:200px !important;
}
}