@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

.top-bar {
    text-align: center; }

ul.center-buttons {
    display: inline-block; }

.logo {
    left: 5px;
    top: -2px;
    position: absolute; } }

.logo {
    max-width: 2rem;
    margin-top: -3px;
    margin-left: 5px; }

.menu-icon {
    padding-top: 1.2rem; }

.top-bar.expanded {
    background: #333333; }

.logo {
   margin-top: .5rem; }

#wrapper {
   min-height:100%;
   position:relative; 
}

#footer {
    background: #000 ;
    bottom: 0px;
    color: #fff;
    line-height: 40px;
    position: absolute;
    text-align: center;
    width: 100%; }

#content {
  background: url(../img/bg-002.jpg) no-repeat center center fixed; background-size: cover;
  height: 100%;
  margin: auto;
  padding-bottom:10px;
  width: 70%;
}

#content {
 padding:0px;
 padding-bottom:120px;
 padding-top: 40px  /* Height of the footer */
}

.space{
  margin-top: 100px;
}

li{
  color: #35aaa6;
  font-size: 20px;
}

.vl{
  border-left: 1px solid #35aaa6;
}

.special{
  max-width: 143.2%;
  width: 143.2%;
  z-index: 999;
  left: -22%;
  position: relative;
}

#header-bar {
    height: 20px;
    background: #000;
}
p.footer {
color:#fff;
margin-bottom:0px;
font-family: 'Bree Serif', serif;
font-size: 12px;
padding:10px;
line-height: normal !important;
}

h2 {
  font-family: Damion;
}
button {
  border-radius: 6px;
  background-color: #5bc0de;
  border-color: #46b8da;
  padding: 10px 16px;
  box-shadow: 0px 1px 5px #000 ;
  font-size: 18px;
  line-height: 1.3333333;
  }

@media (max-width: 414px){
  #content{
    width: 100%;
    padding-bottom: 180px;
  }
  .space{
    margin-top: 20px;
  }
  .special{
    max-width: 100%;
    width: 100%;
    left: 0;
  }
  .desktop-only {
        display:none !important;
    }
  #logo-index{
    width: 160px;
}
}

@media (min-width: 1921px){
  #content{
     padding-bottom: 375px;
  }
}